/* JetBrains Mono Nerd Font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables CSS GitHub */
:root {
  --color-canvas-default: 255, 255, 255;
  --color-canvas-overlay: 246, 248, 250;
  --color-fg-default: 31, 35, 40;
  --color-fg-muted: 101, 109, 118;
  --color-border-default: 208, 215, 222;
  --color-accent-fg: 9, 105, 218;
  --color-btn-primary-bg: 9, 105, 218;
  --color-btn-primary-text: 255, 255, 255;
  --color-success-fg: 26, 127, 55;
  --color-danger-fg: 207, 34, 46;
}

:root.dark {
  --color-canvas-default: 13, 17, 23;
  --color-canvas-overlay: 22, 27, 34;
  --color-fg-default: 248, 250, 252;
  --color-fg-muted: 139, 148, 158;
  --color-border-default: 48, 54, 61;
  --color-accent-fg: 88, 166, 255;
  --color-btn-primary-bg: 88, 166, 255;
  --color-btn-primary-text: 255, 255, 255;
  --color-success-fg: 63, 185, 80;
  --color-danger-fg: 248, 81, 73;
}

/* Base styles */
body {
  background-color: rgb(var(--color-canvas-default));
  color: rgb(var(--color-fg-default));
  font-family: 'JetBrains Mono', monospace;
}
